@{
    ViewData["Title"] = "Home Page";
}
<div>
    <img class="responsive" loading="lazy" src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/static_carousel_media_desktop/public/2021-10/Surdurulebilirlik.jpg?itok=TAilD9oh">

</div>
<div class="row mid-content" style="--bs-gutter-x: 0rem;">
    <div class="col-6 text-center content-container">
        <div>
            <h1>
                Neden GibiSu?
            </h1>
        </div>
        <div class="description">
            <p>
                Uludağ’ın zirvesinden gelen doğal kaynak suyunu, lezzetini ve tazeliğini koruyarak el değmeden şişeliyoruz, gerçekleştirdiğimiz özel analizler ile eşsiz lezzetini güvence altına alıyoruz.
            </p>
        </div>
        <div><a href="/neden-erikli" class="btn btn-light --bs-light --bs-light-rgb">Devam</a></div>
    </div>
    <div class="col-6">
        <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/static_2_column/public/2021-10/Untitled-1.jpg?itok=BDf8ul3c" width="570" height="570" alt="forest" loading="lazy" class="col6Img" typeof="foaf:Image">
    </div>
</div>
<div class="row mid-content " style="--bs-gutter-x: 0rem;">
    <div class="col-6">
        <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/static_2_column/public/2021-10/Untitled-1.jpg?itok=BDf8ul3c" width="570" height="570" alt="forest" loading="lazy" class="col6Img" typeof="foaf:Image">
    </div>
    <div class="col-6 text-center content-container">
        <div>
            <h1>
                Neden GibiSu?
            </h1>
        </div>
        <div class="description">
            <p>
                Uludağ’ın zirvesinden gelen doğal kaynak suyunu, lezzetini ve tazeliğini koruyarak el değmeden şişeliyoruz, gerçekleştirdiğimiz özel analizler ile eşsiz lezzetini güvence altına alıyoruz.
            </p>
        </div>
        <div><a href="/neden-erikli" class="btn btn-light --bs-light --bs-light-rgb">Devam</a></div>
    </div>
</div>
<div class="container-fluid" style="background-color:white">
    <div class="row justify-content-center">
        <div class="col-10">
            <p class="text-align-center textMid text-muted"><strong>Uludağ’ın zirvesinden gelen eşsiz lezzet</strong></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="--bs-gutter-x:0rem; margin-top:8px;">
        <div class="col-4">
            <div class="card">
                <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/grid_system/public/2021-10/1_0.jpg?itok=a_xSeR_R" />
                <div class="card-body layout-card-body">
                    <h5 class="card-title"><a href="/">Abonelik</a></h5>
                    <p class="card-text">GibiSu Abonesi Olmak İçin Tıklayın.</p>
                    <a href="/neden-erikli" class="btn btn-primary ">Devam</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/grid_system/public/2021-10/1_0.jpg?itok=a_xSeR_R" />
                <div class="card-body layout-card-body">
                    <h5 class="card-title"><a href="/">Abonelik</a></h5>
                    <p class="card-text">GibiSu Abonesi Olmak İçin Tıklayın.</p>
                    <a href="/neden-erikli" class="btn btn-primary ">Devam</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/grid_system/public/2021-10/1_0.jpg?itok=a_xSeR_R" />
                <div class="card-body layout-card-body">
                    <h5 class="card-title"><a href="/">Abonelik</a></h5>
                    <p class="card-text">GibiSu Abonesi Olmak İçin Tıklayın.</p>
                    <a href="/neden-erikli" class="btn btn-primary ">Devam</a>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5 mb-5">
            <div class="card">
                <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/grid_system/public/2021-10/1_0.jpg?itok=a_xSeR_R" />
                <div class="card-body layout-card-body">
                    <h5 class="card-title"><a href="/">Abonelik</a></h5>
                    <p class="card-text">GibiSu Abonesi Olmak İçin Tıklayın.</p>
                    <a href="/neden-erikli" class="btn btn-primary ">Devam</a>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5 mb-5">
            <div class="card">
                <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/grid_system/public/2021-10/1_0.jpg?itok=a_xSeR_R" />
                <div class="card-body layout-card-body">
                    <h5 class="card-title"><a href="/">Abonelik</a></h5>
                    <p class="card-text">GibiSu Abonesi Olmak İçin Tıklayın.</p>
                    <a href="/neden-erikli" class="btn btn-primary ">Devam</a>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5 mb-5">
            <div class="card">
                <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/grid_system/public/2021-10/1_0.jpg?itok=a_xSeR_R" />
                <div class="card-body layout-card-body">
                    <h5 class="card-title"><a href="/">Abonelik</a></h5>
                    <p class="card-text">GibiSu Abonesi Olmak İçin Tıklayın.</p>
                    <a href="/neden-erikli" class="btn btn-primary ">Devam</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:white; height:1px;">
    <br />
</div>

