 .row1{
    background-color: #fff;
    box-shadow: rgba(0,0,0,.12) 1px 1px 2px 0;
    border-radius: .5em;
    margin-top: 2%;
    margin-right:25%;
    margin-left:25%;
}
 h3{
     text-align:center;
     font-size:24px !important;
     margin-top:2%;
 }
.col-md-4 {
    width: 100% !important;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.control-label{
    margin-bottom:2px;
}
.mrgadr{
    margin-top:20px;
}
.form-control {
    margin-bottom: 15px;
}
.btn {
    width: 25%;
    text-align: center;
    background-color: #215fac;
    color:white;
    margin-bottom:8px;
}
