@model GibiSu.Models.Page

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid" style="background-color: white; height:100vh;">
<h1>Sil</h1>

<h3>Bunu silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Url" />
        <input type="submit" value="Sil" class="btn btn-danger btn-sm" /> 
        <a asp-action="Sayfalar" class="btn btn-warning btn-sm">Listeye Geri Dön</a>
    </form>
</div>
</div>