@model GibiSu.Models.Page
@{
    int i = (int)ViewData["contentCount"];
}
    <div class="form-group">
        <label asp-for="Contents[i].Title" class="control-label"></label>
        <input asp-for="Contents[i].Title" class="form-control" />
        <span asp-validation-for="Contents[i].Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contents[i].Text" class="control-label"></label>
        <textarea asp-for="Contents[i].Text" class="form-control"></textarea>
        <span asp-validation-for="Contents[i].Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contents[i].FormImage" class="control-label"></label>
        <input asp-for="Contents[i].FormImage" class="form-control" />
        <span asp-validation-for="Contents[i].FormImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contents[i].Type" class="control-label"></label>
        <input asp-for="Contents[i].Type" class="form-control" />
        <span asp-validation-for="Contents[i].Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contents[i].Order" class="control-label"></label>
        <input asp-for="Contents[i].Order" class="form-control" />
        <span asp-validation-for="Contents[i].Order" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input hidden asp-for="Contents[i].PageUrl" value="" class="form-control" />
    </div>
    <div style="">
        <span>
            <button id="button-@i" onclick="DeleteContent(this.value)" value="@i" class="cart-count-btn btn btn-primary" >
               - </button>

        </span>
    </div>