@model IEnumerable<GibiSu.Models.Product>
@using GibiSu.Data;
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "Index";string content;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    function SepeteEkle(id) {
        var input = document.getElementById("PCount-" + id).value;
        $.get("@Url.Action("AddCart","OrderProducts")?productId=" + id+"&amount="+ input);
        setTimeout(
                  function() 
                  {
                document.location.reload();
            }, 0151);
    }
    function CountUp(pId) {
        var input= document.getElementById("PCount-"+pId);
        var total = 1;
        total += parseInt(input.value);
        document.getElementById("PCount-"+pId).value = total;
    }
    function CountDown(pId) {
        var input = document.getElementById("PCount-" + pId);
        var total = -1;
        total += parseInt(input.value);
        if(total > 0){
        document.getElementById("PCount-" + pId).value = total;
        }
    }
</script>
<p>
<h2 style="text-align:center;;color:white;">Ürünlerimiz</h2>
</p>

<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 card-row">
        @foreach (var item2 in Model)
        {
            if (item2.Description.Length<100)
            {
                 content = item2.Description;
            }
            else
            {
                 content = item2.Description.Substring(0, 100)+ "...";
            }
       
            <div class="col">
                <div class="product-card card shadow">
                    <img src='data:image/jpeg;base64,@Convert.ToBase64String(item2.Image)' class="card-img-top" />
                    <div class="card-body mt-2">
                        <div style="text-align: center" class="product-card-title">
                            <a style="text-decoration: none;" asp-controller="Products" asp-route-id="@item2.Id" asp-action="Details">@item2.Name</a>             
                        </div>
                        <div class="product-card-price">
                            @item2.Price TL
                        </div>

                        <p style="margin-top: 10px; text-align: center">
                            @content
                        </p>
                        <div class="product-cart-count">
                            <div style="text-align: center; margin-bottom: 10px">
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        }
    </div>
</div>


